<div class="container">
    <div class="row">
        <div class="col text-center pt-3">
            <img src="img/awan.JPG" alt="Prifile" class="img-thumbnail rounded-circle" width="250px" height="250px" />
            <h1 class="display-4"></h1>
            <p class="lead">Konten Kreator</p>
        </div>
    </div>
</div>